<div class="col-6 ProductSans">
    <form [formGroup]="add" >
  
      <label class="col-form-label">Nombre: </label>
      <input type="number" class="form-control" placeholder="Ingrese el nombre del producto" formControlName="nombre">
      <label class="col-form-label">Precio: </label>
      <input type="number" class="form-control" placeholder="Ingrese el precio del producto." formControlName="precio">

      <select class="form-control" formControlName="tipoProducto" *ngFor="let product of array">
        <option selected>Seleccione un cliente, por favor. </option>
         <option   value={{product.Stockid}}>{{product.nombre}}</option>
    </select>

      <br>
  
      <button class="btn btn-success btn-group-lg" [disabled]="add.invalid" (click)="agregarProducto()">Enviar</button>
    </form>
  </div>