


<div class="container d-flex justify-content-center ProductSans" style="margin-top: 50px; margin-bottom: 50px;" id="factura">
    <div class="row">

    
<div class="card ">
    <div class="card-header bg-dark">
            <h3 class="text-center font-weight-bolder text-white">Facturas</h3>
    </div>
    <div class="card-body">
      <form [formGroup]="search">
        <input class="form-control" type="text" formControlName="search"
         autocomplete="off" placeholder="Introduzca el campo que desea filtrar">
        </form>
         <table class="table">
            <thead>
            <tr class="ProductSans" >
                <th scope="col">Cliente</th>
                <th scope="col">Total pagado</th>
                <th scope="col">Cantidad de productos</th>
                <th scope="col">Fecha de factura</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let producto of productos|filter:search.get('search').value">
                <td>{{producto.cliente.nombre}}</td>
                <td>{{producto.total}}</td>
                <td>{{producto.cantidad}}</td>
                <td>{{producto.fecha}}</td> 
            </tr>
            
            </tbody>
        </table>
<div class="btn-group" style="margin-bottom: 15px;">

<a class="btn btn-outline-dark" href="home" >Volver</a>

<form [formGroup]="filtro" style="margin-bottom: 15px;margin-top: -10px;">
    <div class="custom-control custom-radio custom-control-inline"  style="margin-top: 10px;">
        <input type="radio" id="customRadioInline6" formControlName="filtro" value="suma" class="custom-control-input">
        <label class="custom-control-label" for="customRadioInline6">Suma</label>
      </div>
      <div class="custom-control custom-radio custom-control-inline">
        <input type="radio" id="customRadioInline7" formControlName="filtro" value="conteo"class="custom-control-input">
        <label class="custom-control-label" for="customRadioInline7">Conteo</label>
      </div>
      <div class="custom-control custom-radio custom-control-inline">
        <input type="radio" id="customRadioInline8" formControlName="filtro" value="promedio"class="custom-control-input">
        <label class="custom-control-label" for="customRadioInline8">promedio</label>
      </div>
      <div class="custom-control custom-radio custom-control-inline">
        <input type="radio" id="customRadioInline9" formControlName="filtro" value="maximo"class="custom-control-input">
        <label class="custom-control-label" for="customRadioInline9">Valor maximo</label>
      </div>
      <div class="custom-control custom-radio custom-control-inline">
        <input type="radio" id="customRadioInline10" formControlName="filtro" value="minimo"class="custom-control-input">
        <label class="custom-control-label" for="customRadioInline10">Valor minimo</label>
      </div>
    </form>

<a class="btn btn-outline-dark" (click)="decision()" >Filtrar</a>
<a class="btn btn-outline-danger" (click)="capturar()" *ngIf="!cargando">Imprimir</a>
<div *ngIf="cargando">
    <div class="spinner-border" role="status">
        <span class="sr-only">Loading...</span>
      </div>
</div>


</div>
                </div>
            </div>
        </div>

        <div class="col-sm-4" style="margin-left: 10px;">
          <div class="card">
              <div class="card-header bg-dark">
                  <h4 class="text-center text-white font-weight-bolder">Resultado filtrado</h4>
              </div>
              <div class="card-body">
                  <h5>{{sumatoria}}</h5>
              </div>
          </div>
      </div>
     
</div>

    





<!-- (click)="editProduct()"
(click)="deleteProduct()"-->
