<app-header></app-header>
<!--<div class="container d-flex justify-content-center ProductSans">
    <form [formGroup]="tipo" style="margin-top: 250px;">
        <div class="form-row">
    <div class="form-group" >
        
        <select id="inputState" class="form-control" formControlName="tipo" *ngIf="">
          <option  selected >Seleccione la ciudad de preferencia</option>
          <option>Clientes</option>
          <option>Productos</option>
          <option>Proveedores</option>
          <option>Entradas</option>
          <option>Facturas</option>
        </select>
       
        
      </div>
      </div>
      </form>
    <div class="card">
        <div class="card-header bg-dark">
            <h3 class="text-center text-white font-weight-bolder">Consultas</h3>
        </div>
        <div class="card-body">
            
        </div>
    </div>
</div>-->
<app-productos></app-productos>
<app-clientes style="margin-top: 50px;"></app-clientes>
<app-proveedores style="margin-top: 50px;"></app-proveedores>
<app-entradas style="margin-top: 50px;"></app-entradas>
<app-facturas style="margin-top: 50px;"></app-facturas>
<app-footer ></app-footer>