
<app-header></app-header>

<div class="container d-flex justify-content-center" style="margin-top: 50px; margin-bottom: 50px;">
<div class="card ProductSans col-10">
    <div class="card-header bg-dark">
            <h3 class="text-center font-weight-bolder text-white">Clientes</h3>
    </div>
    <div class="card-body">
<table class="table">
    <thead>
    <tr class="ProductSans" >
        <th scope="col">Id</th>
        <th scope="col">Nombre</th>
        <th scope="col">Cedula</th>
        <th scope="col">Telefono</th>
        <th scope="col">Email</th>
        <th scope="col">Categoria</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let object of proveedor">
        <td>{{object.id}}</td>
        <td>{{object.nombre}}</td>
        <td>{{object.rnc}}</td>
        <td>{{object.telefono}}</td>
        <td>{{object.email}}</td>
        <td>{{object.categoria}}</td>
         <td>
            <a class="btn btn-outline-success" (click)="editCliente(object)" >Editar</a>
            <a class="btn btn-outline-danger" (click)="deleteCliente(object.id)" >Eliminar</a>
        </td>
    </tr>
    
    </tbody>
</table>

<a class="btn btn-outline-success" href="add-cliente">¿Quieres ser un proveedor?</a>
<a class="btn btn-outline-dark" href="inicio">Volver</a>
</div>
</div>
</div>


<app-footer class="fixed-bottom"></app-footer>
<!-- (click)="editProduct()"
(click)="deleteProduct()"-->
