

<footer class="section footer-classic context-dark text-white ProductSans" style="background: #0C0C0C;">
        <div class="container">
          <div class="row row-30">
            <div class="col-md-4 col-xl-5">
                <h5>Contacto</h5>
                <dl class="contact-list">
                  <dt>Email:</dt>
                  <dd><a class="">Wilmermanuel.guerrero25@gmail.com</a></dd>
                </dl>
            </div>
            <div class="col-md-4">
             
              <dl class="contact-list">
                <dt>Telefono:</dt>
                <dd><a class="">+1 849-626-4737</a>
                </dd>
              </dl>
            </div>
            <div class="col-md-4 col-xl-3">
              <h5>Links</h5>
              <ul class="">
                <li class="nav-item"><a href="#">Productos</a></li>
                <li class="nav-item"><a href="#">Clientes</a></li>
                <li class="nav-item"><a href="#">Proveedores</a></li>
                <li class="nav-item"><a href="#">Compras</a></li>
                <li class="nav-item"><a href="#">Entradas</a></li>
              </ul>
            </div>
          </div>
        </div>
      
      </footer>