<app-header></app-header>
<div class="container d-flex justify-content-center ProductSans" style="margin-top: 50px;">
<div class="col-6 ">
  <div class="card">
    <div class="card-header bg-dark">
      <h3 class="text-center font-weight-bolder text-white">Editar producto</h3>
    </div>
    <div class="card-body">

    
    <form [formGroup]="editar" >
  
     
      <div class="form-group col-md-12">

        <label class="col-form-label">Nombre: </label>
        <input type="text" class="form-control" placeholder="Ingrese su nombre" formControlName="nombre">
        <label class="col-form-label">Precio: </label>
        <input type="text" class="form-control" placeholder="Ingrese el precio" formControlName="precio">
  
      <label class="col-form-label">Tipo de producto: </label>
      <select class="form-control" formControlName="stockid" >
         <option style="width: 100px;" *ngFor="let product of array"  value={{product.id}}>{{product.nombre}}</option>
      </select>
    

      <br>
  
      <button class="btn btn-block btn-dark" [disabled]="editar.invalid" (click)="editarProducto()">Enviar</button>
    </div>
    </form>
  </div>
</div>
</div>
</div>
<app-footer class="fixed-bottom"></app-footer>